.active {
  color: yellow;
}

.container-modale {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(95, 95, 95, 0.541);
}

.modale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}

body{
 background-image: url("./src/assets/image/sfondo.jpg");
 background-repeat: no-repeat;
 height: 100vh;
 background-size: cover;
 
}

.dim-logo{
  width: 70px;
}